<!DOCTYPE html>
<html>
	<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title><!pageTitle!> - Error</title>
	<style>
	#body {
		width: 400px;
		margin: auto;
	}
	#body img {
		float: left;
		margin: 5px;
		width: 100px;
		height: 100px;
	}
	</style>
	</head>
	
	<body>
		<center>
			<img src="images/TransBox2.png" />
		</center>
		<div id="body">
		<img src="images/error.png"><h2>ERROR</h2><:msg:>
		<span style='display:none;'><:error:></span>
		</div>
	</body>
</html>