<!DOCTYPE html>
<!--
/****************
 * System name: TransBox
 * Module: Main template file
 * Functional overview: This file contains HTML code for index 
 * Last update: 2012/10/27
 * Author： Artakus
 * © 2012 Artakus. All Rights Reserved. GPL
 * *************/
-->
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title><!pageTitle!></title>
        <link rel="stylesheet" type="text/css" href="css/gray/easyui.css"><!-- CSS for  easyui framework-->
        <link rel="stylesheet" type="text/css" href="css/icon.css"><!-- CSS for basic icon -->
        <link rel="stylesheet" type="text/css" href="css/icons.php"><!-- CSS for famfam icon -->
        <link rel="stylesheet" type="text/css" href="css/fileuploader.css"><!-- CSS for file upload -->
		<style type="text/css">
			body{
				font-family: "メイリオ",Segoe, sans-serif;
			}
			fieldset {
				border-radius: 5px;
			}
			button.bigButton {
				font-size: x-large;
				border: solid 2px black;
				border-radius: 5px;
				margin: 5px;
				padding: 3px;
			}
			button.bigButton:disabled {
				border: solid 2px gray;
			}
			div.timecode {
				font-size: xx-large;
				font-weight: bold;
				font-family: "Courier New", Courier, monospace;
				text-align: center;
			}
			button.chapterButton {
				font-size: large;
				border: solid 1px black;
				border-radius: 5px;
				margin: 3px;
				padding: 2px;
			}
			button.simpleButton {
				border: 1px solid silver;
			}
			img.contolBtn {
				cursor: pointer;
				
			}
		</style>
        <script type="text/javascript" src="js/jquery-1.8.0.min.js"></script><!-- JS for jquery -->
        <script type="text/javascript" src="js/jquery.easyui.min.js"></script><!-- JS for easyui framework -->
		<script type="text/javascript" src="?action=lang.js"></script><!-- JS for lang JS  -->
		<script type="text/javascript" src="js/md5.js"></script><!-- JS for md5 JS  -->
		<script type="text/javascript" src="js/fileuploader.js"></script><!-- JS for md5 JS  -->
		<script type="text/javascript" src="js/functions.js"></script><!-- JS for main JS function -->
        <script type="text/javascript" src="js/index.js"></script><!-- JS for main JS -->
    </head>
    <body class="easyui-layout">
        <div region="north" style="height:40px;padding:1px; overflow:hidden;overflow-y:hidden;overflow-x:hidden; background: url('images/northbg2.jpg');">
            <table style="border-collapse:collapse;padding:0; width:100%;">
                <tbody>
                    <tr>
                        <td align="left" valign="middle">
                            <img src="images/cerdas7.png" height="35">
                        </td>
                        <td align="right" valign="middle">
                        	<span id="name"><:name:></span>
                        	<a href="#" iconCls="ff-cog" class="easyui-linkbutton" id="bt-setting"><!setting!></a>
                            <a href="javascript:logout()" iconCls="ff-door-out" class="easyui-linkbutton" id="bt-logout"><!logout!></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div region="center" style="overflow:hidden;" border="false">
        	<!--- main tab container --->
			<div class="easyui-tabs" id="mainTabPanel" fit="true" border="false">
				<!-- torrent tab -->
        		<div title="<!torrent!>">
        			<div  class="easyui-layout" id="torrentLayout" fit="true">
        				<div region="center">
							<table id="torrentTable"></table>
							<div id="torrentTableTb">
								<a href="#" id="torrentTableAdd" class="easyui-linkbutton" plain="true" iconCls="ff-add"></a>
								<a href="#" id="torrentTableDel" class="easyui-linkbutton" plain="true"  iconCls="ff-delete"></a>
								<a href="#" id="torrentTableStart" class="easyui-linkbutton" plain="true"  iconCls="ff-play"></a>
								<a href="#" id="torrentTableStop" class="easyui-linkbutton" plain="true"  iconCls="ff-stop"></a>
								&nbsp;
								<label><input id="autoReload" type="checkbox" checked="checked" /> <!autoreload!></label>
							</div>
						</div>
						<div region="east" style="width: 300px;" title="<!info!>" split="true">
							
						</div>
        			</div>
        		</div>
        		<!-- files tab -->
        		<div title="<!files!>">
        			
        		</div>
        		<!-- users tab -->
				<div title="<!users!>">
    				<table id="userTable"></table>
    				<div id="userTableTb">
    					<a href="#" id="userTableAdd" class="easyui-linkbutton" plain="true" iconCls="ff-user-add"></a>
    					<a href="#" id="userTableEdit" class="easyui-linkbutton" plain="true" iconCls="ff-user-edit"></a>
						<a href="#" id="userTableDel" class="easyui-linkbutton" plain="true"  iconCls="ff-user-delete"></a>
    				</div>
				</div>
        	</div>
        </div>
    </body>
	
	<!-- add torrent dialog -->
	<div id="addTorrentDialog" class="easyui-dialog" title="<!addtorrent!>" modal="true" closed="true" style="width: 400px;padding:5px;" buttons="#addTorrentDialogBtn">
    	<form id="addTorrentDialogFrm">
    		<fieldset>
    			<legend><!url!></legend>
    			<span class="combo"><input type="url" class="easyui-validatebox combo-text" style="width: 350px;" name="url" id="torrentUrl" /></span>
    		</fieldset>
    		<fieldset>
    			<legend><!torrentfile!></legend>
    			<div id="torrentFileUploader" style="height:40px; padding:2px; border: 1px dotted silver; margin-bottom: 3px; overflow: hidden;">

    			</div>
    			Drop torrent in box above or click <a href="#" id="selectTorrentFile" iconCls="ff-search-result" class="easyui-linkbutton" style="float: right;">Select torrent</a>
    		</fieldset>
    	</form>
    </div>
    <div id="addTorrentDialogBtn" >
    	<a href="#" id="addTorrentDialogBtnAdd" class="easyui-linkbutton" icon="ff-add"><!add!></a>
    	<a href="#" id="addTorrentDialogBtnCnl" class="easyui-linkbutton" icon="ff-cancel"><!cancel!></a>
    </div>

	<!-- add user dialog -->
	<div id="addUserDialog" class="easyui-dialog" title="<!addtorrent!>" modal="true" closed="true" style="width: 300px;padding:5px;" buttons="#addUserDialogBtn">
    	<form id="addUserDialogFrm">
    		<fieldset>
    			<legend><!email!></legend>
    			<span class="combo"><input type="email" class="easyui-validatebox combo-text" style="width: 250px;" name="email" required="true" validType="email" /></span>
    		</fieldset>
    		<fieldset>
    			<legend><!password!></legend>
    			<span class="combo"><input type="text" class="easyui-validatebox combo-text" style="width: 250px;" name="password" required="true" /></span>
    		</fieldset>
			<fieldset>
    			<legend><!dslimit!></legend>
    			<span class="combo"><input type="number" class="easyui-numberbox combo-text" style="width: 200px; text-align: right;" min="0" name="ds_limit" /> MB</span>
    		</fieldset>
    		<fieldset>
    			<legend><!xferlimit!></legend>
    			<span class="combo"><input type="number" class="easyui-numberbox combo-text" style="width: 200px; text-align: right;" min="0" name="xfer_limit" /> MB</span>
    		</fieldset>
    		<fieldset>
    		<legend><!rxlimit!></legend>
    			<span class="combo"><input type="number" class="easyui-numberbox combo-text" style="width: 200px; text-align: right;" min="0" name="rx_limit" /> MB</span>
    		</fieldset>
    		<fieldset>
    			<legend><!txlimit!></legend>
    			<span class="combo"><input type="number" class="easyui-numberbox combo-text" style="width: 200px; text-align: right;" min="0" name="tx_limit" /> MB</span>
    		</fieldset>
    		<input type="hidden" name="id" value="0" />
    	</form>
    </div>
    <div id="addUserDialogBtn" >
    	<a href="#" id="addUserDialogBtnAdd" class="easyui-linkbutton" icon="ff-tick"><!ok!></a>
    	<a href="#" id="addUserDialogBtnCnl" class="easyui-linkbutton" icon="ff-cancel"><!cancel!></a>
    </div>
</html>

